This training material is developed by Dr. Yang Song at UNC Wilmington.

This work is supported by NSF #2230046. You can use this material for non-commercial purposes. But please retain proper attribution by keeping this content.

### Assume that Dr. Yang Song is a poor phd student, and he cannot say no to his advisor...

Dr. Song has a clutering problem to solve, and he sampled 20% of the data for testing purpuse. He has build the model below with `t4.8k_sample.csv`.

Full dataset is [here](https://drive.google.com/file/d/1Te8tCSFKzSVSTJmVtZEMr8m0CPdeZewo/view?usp=sharing) and the sampled dataset is [here](https://drive.google.com/file/d/11WQT9PUmmJ_af2CS8UOYFaC1AVGxqFy5/view?usp=sharing).

Below is his finished code, and you don't need to make any changes.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# The datafile in google drive root/Colab Notebooks/data/t4.8k_sample.txt
# for the full data, we can read it like below -
# df = pd.read_csv("data/t4.8k.txt", sep=" ", names=['x','y'])
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/git_repos/2023_CI_clustering/data/t4.8k_sample.csv')
df.head()

            x           y
0   61.886002  159.761993
1  335.018005  114.391998
2  232.563995  260.798004
3  491.881989  177.149994
4  199.119003  108.886002

In [ ]:
df.shape

(1499, 2)

In [ ]:
from sklearn.cluster import DBSCAN
# This is a model Dr. Song tuned with the sampled model.
db = DBSCAN(eps=15, min_samples=15, metric='euclidean')
labels = db.fit_predict(df)

In [ ]:
df["cluster_lables"] = labels
df.head(2)

            x           y  cluster_lables
0   61.886002  159.761993              19
1  335.018005  114.391998               0

In [ ]:
df.cluster_lables.value_counts()

-1     374
 9     106
 2      84
 5      82
 1      71
 0      63
 13     62
 3      60
 6      58
 7      45
 8      40
 11     38
 22     37
 21     35
 12     35
 10     34
 18     32
 19     31
 4      29
 17     26
 16     22
 24     18
 26     18
 15     17
 20     17
 28     17
 14     16
 27     12
 25     10
 23     10
Name: cluster_lables, dtype: int64

In [ ]:
# On HPC, this line should be changed, too!
df.to_csv("/content/drive/MyDrive/Colab Notebooks/git_repos/2023_CI_clustering/data/t4.8k_output.csv")